<%
breadcrumb.add("Serviços", "/servicos")
breadcrumb.add(@service.title)
%>

<h1><%= @service.title %></h1>

<ul>
  <li>Descrição: <%= @service.description %></li>
</ul>


<h2>Fotos</h2>
<p>O tamanho das fotos estão em app/models/Picture.rb. Podem ser alteradas.</p>


