<% simple_menu.active = :contact %>
<%= messages %>

<!--Body content-->
<div class="full-width-wrapper" style="padding-bottom: 100px;">
    <div class="fixed-width-wrapper" id="body-content">
      
        <!--Content-->
        <div id="content" class="float-left content-left">
            <div class="header-text">
                        
        <%= raw breadcrumb.add("Home","/").add("Contato") %>
            <h1 class="first-word double-color sp">Contato</h1>
            </div>
            
            
            <div class="post entry-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh mi, commodo eu, pellentesque ut, blandit rutrum, ligula. 
                    <strong>Praesent ultricies urna a urna.
                    </strong>
                </p>
                <p>Quisque massa. Cras ipsum diam, hendrerit id, accumsan sit amet, fermentum vel, dui.. Duis vulputate elit in elit. 
                    <a href="#" title="">Mauris dictum libero id justo
                    </a>. Fusce in est. 
                    <strong>Sed nec diam
                    </strong>. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                </p>
                <div class="first address">
                    <h3 class="first-word">
                        <strong>Endereço</strong>
                    </h3>
                    <span class="map-point"></span>
                    <p>
                        <strong>MaxxD Co.,ltd</strong>
                        <br>No 1/28. Freelancer, City: Themforest, Country: Australia                    
                    </p>
                    <p> Tell: + 0080.0123 456 789
                        <br>Fax: + 0080.0123 456 789                    
                    </p>
                    <p> Email: 
                        <a href="#" title="">info@maxxd.com
                        </a>
                        <br>Website: 
                        <strong>www.maxxd.com
                        </strong>
                    </p>
                </div>
                
                <div class="clear"></div>
                <h3 class="first-word">Contato</h3>
                <div class="sp"></div>
                <p>
                    <em>Campos obrigatórios estão marcados com um *</em>
                </p>
                <!--Contact form-->
                <%= render 'form' %>
                <!--/Contact form-->
            </div>
        </div>
        <!--/Content-->
        <!--Sidebar-->
        <div id="sidebar" class="float-right">
            <!--box-->
            <div class="box">
                <h1 class="first-word double-color sp">Localize-nos</h1>
                <div class="img-border preloading-light">
                    <img src="/assets/pix/locateus.jpg" alt="">
                </div>
            </div>
            <!--/box-->
        </div>
        <!--/Sidebar-->
    </div>
</div>
<!--/Body content-->
