<% simple_menu.active = :contact %>
<%= messages %>

<!--Body content-->
<div class="full-width-wrapper" style="padding-bottom: 100px;">
    <div class="fixed-width-wrapper" id="body-content">

        <!--Content-->
        <div id="content" class="float-left content-left">
            <div class="header-text">

               <%= raw breadcrumb.add("Home","/").add("Contato") %>
              <h1 class="first-word double-color sp">Contato</h1>
            </div>

            <div class="form">
              <p>
                  <em>Os campos obrigatórios estão marcados com um *</em>
              </p>
              <!--Contact form-->
              <%= render 'form' %>
              <!--/Contact form-->
            </div>

            <div class="sp"></div>
            <div class="post entry-content">
                <div class="first address">
                    <h3 class="first-word">
                        <strong>Endereço</strong>
                    </h3>
                    <span class="map-point"></span>
                    <p>
                        <strong>RUPPENTHAL & RUPPENTHAL</strong>
                        <br>Rua Vereador João Maria da Silva Brizola
                        <br/>n° 11B, Bairro Canudos – Novo Hamburgo – RS<br/>
                        CEP 93546-040
                    </p>

                    <p> Fone: (51) 3065-5091
                        <br>E-mail: contato@ruppenthal.com.br
                    </p>

                </div>

                <div class="clear"></div>

            </div>
        </div>
        <!--/Content-->
        <!--Sidebar-->
        <div id="sidebar" class="float-right">
            <!--box-->
            <div class="box">
                <h1 class="first-word double-color sp">Localize-nos</h1>
                <div class="img-border preloading-light">
                    <iframe width="268" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?iwloc=near&amp;f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Vereador+Jo%C3%A3o+Maria+da+Silva+Brizola+n%C2%B0+11B,+Bairro+Canudos+%E2%80%93+Novo+Hamburgo+%E2%80%93+RS&amp;sll=37.0625,-95.677068&amp;sspn=40.137381,67.763672&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Vereador+Jo%C3%A3o+Maria+da+Silva+Brizolla,+11+-+Canudos,+Novo+Hamburgo+-+Rio+Grande+do+Sul,+93546-040,+Brazil&amp;t=m&amp;z=16&amp;ll=-29.690079,-51.099283&amp;output=embed">
                    </iframe><br />
                    <small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Vereador+Jo%C3%A3o+Maria+da+Silva+Brizola+n%C2%B0+11B,+Bairro+Canudos+%E2%80%93+Novo+Hamburgo+%E2%80%93+RS&amp;sll=37.0625,-95.677068&amp;sspn=40.137381,67.763672&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Vereador+Jo%C3%A3o+Maria+da+Silva+Brizolla,+11+-+Canudos,+Novo+Hamburgo+-+Rio+Grande+do+Sul,+93546-040,+Brazil&amp;t=m&amp;z=14&amp;ll=-29.690079,-51.099283" style="color:#0000FF;text-align:left">Ver mapa maior</a></small>
                </div>
            </div>
            <!--/box-->
        </div>
        <!--/Sidebar-->
    </div>
</div>
<!--/Body content-->
