<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contato de <%= @contact.name %>(<%= @contact.email %>)</h1>
    
    <%= simple_format(@contact.message) %>
    
  </body>
</html>