body{background-image:url(../images/light-bg.png);background-repeat:no-repeat;background-position:center -200px;}body.home{background-position:center 250px;}.img-border{border:1px solid #e5e5e5;border-bottom-width:3px;float:left;display:block;padding:5px;}form input.input-field,textarea{background:#FFF url(../images/text-field-bg.png) top repeat-x;border:1px solid #d8d8d9;color:#787878;font-size:12px;font-family:Arial, Helvetica, sans-serif;padding:7px 5px;}.bold{font-weight:700;}button.black{background:url(../images/black-btn-bg.png) repeat-x top #393939;border:1px solid #2d2d2d;font-size:12px;color:#FFF;cursor:pointer;font-family:Arial, Helvetica;margin:0 5px;padding:6px 10px;}button.black:hover{background:#5a5a5a;}button.black:active{background:#393939;}.preloading-light{background:#FFF url(../images/preloader-light.gif) no-repeat 50% 50%;float:left;}.preloading-dark{background:#FFF url(../images/preloader-dark.gif) no-repeat 50% 50%;}.sprite,#navigation-bar,#banner .social-network li a,a.read-more,ul.point li a:hover em,.calendar,.overlay,ul.simple-drop-down-menu li.home-page > a,ul.list.quote li span,ul.list.cat li.current,ul.list.cat li a,#breadcrumbs,#breadcrumbs li,.services .service-heading,.map-point,label.error,.posts-info span,#view-switcher,#view-switcher li a,.post-tags li span{background-image:url(../images/sprite.png);background-repeat:no-repeat;}.full-width-wrapper,.fixed-width-wrapper,#banner,#slider-wrapper{clear:both;display:table;}.full-width-wrapper{width:100%;}.fixed-width-wrapper{width:980px;margin:0 auto;}a.read-more{background-position:-529px -53px;width:125px;height:32px;text-indent:-9999px;}a.read-more:hover{background-position:-529px -85px;}ul.list li{display:list-item;}ul.tweet li{padding-bottom:25px;}ul.zigzag li{clear:both;display:table;border-bottom:1px solid #dedede;border-top:1px solid #FFF;padding:15px 0;}ul.zigzag li:first-child{padding-top:0;border-top:none;}ul.list.quote li span{background-position:-917px -97px;display:block;width:24px;height:18px;text-indent:-9999px;float:left;margin:5px 20px 10px 0;}ul.list.quote li{text-align:right;margin-bottom:30px;}ul.list.quote li a:hover b{text-decoration:underline;color:#787878;}ul.list.cat li{margin-bottom:5px;background:none;}ul.list.cat li.current{background-position:-630px -209px;}ul.list.cat li a{background-position:-630px -127px;display:block;height:32px;line-height:30px;padding-left:40px;color:#787878;}ul.list.cat li.current a,ul.list.cat li a:hover{background-position:-630px -169px;text-decoration:none;}.flick-gallery li{display:inline;float:left;margin:0 15px 15px 0;}.flick-gallery li a{float:left;width:80px;height:80px;background-color:#232323;position:relative;padding:5px;}.flick-gallery li a .overlay{background-position:right -127px;width:80px;height:80px;position:absolute;top:5px;left:5px;cursor:pointer;}.flick-gallery li img{width:80px;}ul.point li a{clear:both;line-height:25px;color:#787878;}ul.point li a em{float:left;width:30px;height:27px;text-indent:10px;background:none;}ul.point li a:hover em{background-position:-489px -53px;text-decoration:none;}.calendar{width:65px;height:65px;overflow:hidden;text-align:center;}.calendar h1{font-weight:700;text-align:center;margin:4px 0 1px;}.calendar.black h1{color:#fafafa;margin-bottom:5px;}.calendar span{font-size:10px;text-transform:uppercase;color:#b0b0b0;}.calendar.black{background-position:-354px -53px;padding-left:4px;float:right;}.calendar.white{background-position:-278px -53px;float:left;margin-left:-85px;padding-right:5px;margin-right:10px;}#header{border-top:5px solid #464646;background:url(../images/top-full-width-bg.png) repeat-x top;}#header #abstract-bg{background:url(../images/top-abstract-bg.png) no-repeat -20% top;}#header #banner{height:130px;}#header #banner .logo{margin-top:15px;float:left;}#header #banner .social-network{float:right;margin-right:20px;}#header #banner .social-network li{display:inline;float:left;margin:50px 3px 0;}#header #banner .social-network li a{float:left;background-position:-907px -53px;width:34px;height:34px;text-align:center;}#navigation-bar{background-position:0 0;height:41px;margin-bottom:40px;}ul.simple-drop-down-menu{position:relative;z-index:10;}ul.simple-drop-down-menu li{font-weight:700;float:left;position:relative;}ul.simple-drop-down-menu li.home-page > a{background-position:15px -42px;padding-left:45px;}ul.simple-drop-down-menu li.home-page.current > a,ul.simple-drop-down-menu li.home-page:hover > a{background-position:15px -82px;}ul.simple-drop-down-menu li a{color:#787878;position:relative;z-index:10;padding:12px 15px 13px;}ul.simple-drop-down-menu li a.parent{padding-right:25px;position:relative;}ul.simple-drop-down-menu li:hover{background:url(../images/sprite-menu.png) repeat-x left top #c11a20;}ul.simple-drop-down-menu li.current{background:url(../images/sprite-menu.png) repeat-x left bottom #c11a20;}ul.simple-drop-down-menu li:hover > a{text-decoration:none;color:#FFF;}ul.simple-drop-down-menu ul{width:200px;position:absolute;top:100%;left:0;display:none;}ul.simple-drop-down-menu ul li{background:#fbfbfb;border-bottom:1px solid #f2f2f2;border-top:1px solid #fff;float:none;clear:both;margin-right:0;font-weight:400;border-left:5px solid #fbfbfb;}ul.simple-drop-down-menu ul li:first-child{border-top:none;}ul.simple-drop-down-menu ul li a{padding:8px 10px;}ul.simple-drop-down-menu li a span{background:url(../images/drop-down-arr.png) no-repeat 0 0;width:9px;height:9px;overflow:hidden;position:absolute;right:8px;top:17px;}ul.simple-drop-down-menu li ul li a span{background-position:0 -9px;top:10px;}ul.simple-drop-down-menu ul li:hover{border-left:5px solid #dd303a;background:#FFF;color:#787878;}ul.simple-drop-down-menu li ul li:hover{background:#FFF;border-left:5px solid #dd303a;}ul.simple-drop-down-menu ul ul{left:100%;top:0;padding-left:1px;}#g-search{margin-top:6px;float:right;margin-right:5px;width:255px;}#g-search input{float:left;width:190px;border:1px solid #e7e7e7;margin:0;padding:6px 5px 5px;}#g-search button{background:url(../images/sprite.png) right -53px;overflow:visible;border:0 none;float:left;white-space:nowrap;padding-left:0;height:29px;width:49px;cursor:pointer;text-indent:-9999px;margin:0 0 0 -1px;}#g-search button:hover{background-position:right -84px;}#slider-bg{background:url(../images/slider-full-width-bg.png) repeat-x left 45px;height:425px;}#slider-frame{background:url(../images/slider-bg.png) center top no-repeat;height:430px;}.slide-overlay{background:url(../images/slide-overlay.png) no-repeat;width:960px;height:370px;position:absolute;z-index:2;top:0;left:0;}.body-divider{background:url(../images/seperator-980.png) no-repeat center top;padding-top:30px;}.three-column .block{width:300px;float:left;margin-right:40px;}.entry .block .content{min-height:310px;height:310px;}#get-in-touch{background:url(../images/seperator-980-50-opa.png) no-repeat center top;padding:80px 0 30px;}#get-in-touch .via-phone-number{width:580px;}#get-in-touch .via-phone-number .icon{background-position:-429px -53px;width:50px;height:50px;text-indent:-9999px;margin-right:20px;}#get-in-touch .via-phone-number h2{margin:3px 0 5px;}#get-in-touch .via-email{width:385px;}#get-in-touch .via-email button{width:110px;}#get-in-touch .via-email button em{width:15px;height:15px;background-position:-489px -90px;float:left;margin-right:10px;}#get-in-touch .via-email input{width:250px;font-style:italic;}#content.content-left{width:650px;}#content h1.double-color,#sidebar h1.double-color{text-align:right;}.sp{background:url(../images/sp.png) repeat-x bottom;padding-bottom:20px;margin-bottom:20px;}h1.double-color.sp{margin-bottom:30px;}#breadcrumbs{width:450px;background-position:-984px -27px;overflow:hidden;height:16px;padding-left:30px;position:absolute;top:15px;}#breadcrumbs li{display:inline-block;float:left;background-position:-994px -219px;padding:0 15px 0 20px;}#breadcrumbs li:first-child{background:none;}#breadcrumbs li a{font-size:10px;text-transform:uppercase;color:#787878;}#breadcrumbs li a:hover,#breadcrumbs li.current a{color:#454545;text-decoration:none;}.post p{margin:0 0 20px;}#sidebar{width:280px;}#sidebar .ads a{border:1px solid #E5E5E5;border-bottom-width:3px;margin:7px 0;padding:3px;}#sidebar .ads a:hover{border-color:#CCC;}#sidebar .ads a.even{margin-right:14px;}.services .service-heading{background-position:-5px -150px;padding-bottom:30px;margin-bottom:10px;}.services .service-heading img{float:left;margin-right:15px;display:block;margin-top:-5px;}.services .service-heading h3{margin-bottom:5px;}.services .service-heading span{color:#b0b0b0;font-size:11px;}.services .block{margin:15px 40px 15px 0;}.page-pagination{margin-top:15px;padding-top:20px;text-transform:uppercase;font-size:10px;}.page-pagination a,.page-pagination span,a.btn-style{float:left;display:block;margin-right:5px;padding:6px 10px;}.page-pagination a.current,a.btn-style.red,a.btn-style.current,a.btn-style.dark:hover{background:url(../images/sprite-menu.png) left -50px repeat-x;border-color:#a91a1f;}.page-pagination a:hover,a.btn-style:hover,a.btn-style.red:hover,a.btn-style.dark{background:url(../images/sprite-menu.png) left -10px repeat-x;border-color:#262626;}.page-pagination a:hover,.page-pagination a.current,a.btn-style.red,a.btn-style:hover,a.btn-style.dark{color:#FFF;text-decoration:none;}.page-pagination a,a.btn-style{background:#f4f4f4 url(../images/button-highlight.png) repeat-x top;border:1px solid #E5E5E5;color:#787878;}#footer-wrapper{background:url(../images/footer-full-width-bg.png) repeat-x top #2b2b2b;color:#FFF;}#footer-content p,#footer-content h3,#footer-extra-wrapper a{color:#b0b0b0;}#footer-content em{color:#606060;font-size:11px;text-transform:capitalize;font-family:Georgia, "Times New Roman", Times, serif;}#footer-content .three-column .block .content{padding:45px 0 30px;}#footer-content .three-column .block .content .tweet p{margin:0 0 3px;}#footer-content .three-column .block .content .latest-news li{margin-bottom:25px;}#footer-extra-wrapper{background:#181818;font-size:10px;text-transform:uppercase;color:#606060;padding:20px 0;}#copyright ul li{display:inline;margin-top:5px;float:left;overflow:hidden;border-left:1px solid #333;padding:0 10px;}#copyright ul li:first-child{border:none;}#footer-extra-wrapper .logo{margin-right:15px;}.back-to-top{float:right;cursor:pointer;background-position:-986px 4px;padding:5px 0 0 20px;}.portfolio-main.filter li{display:inline;text-align:right;margin:0 0 0 20px;}.portfolio-main.filter li a{color:#787878;text-decoration:none;border:1px solid transparent;padding:5px 10px;}.portfolio-content .block{margin-top:15px;min-height:300px;}.portfolio-content{width:1020px;padding-top:20px;}.portfolio-main.filter li.current a{background:#fafafa url(../images/button-highlight.png) repeat-x top;border-color:#E5E5E5;}.video-preview .overlay,.image-preview .overlay{width:286px;height:150px;background-color:#FFF;background-position:center center;background-repeat:no-repeat;position:absolute;z-index:10;left:5px;top:5px;}.video-preview .overlay{background-image:url(../images/video-light.jpg);}.image-preview .overlay{background-image:url(../images/maginifier-light.jpg);}.address .map-point{width:29px;height:44px;display:block;float:left;background-position:-591px -127px;margin:8px 15px 5px 0;}.form-row{display:block;clear:both;min-height:25px;padding:10px 0;}.form-row .form-row-label{width:130px;float:left;clear:left;display:block;}#contact-form textarea{max-width:400px;height:150px;}label.error{background-position:-920px -219px;width:22px;height:22px;display:block;text-indent:-9999px;float:left;margin:5px 0 0 5px;}.list-blog-entry .posts-info,.list-blog-entry p{clear:both;}.blog-entry-content{float:left;width:415px;}.posts-info{overflow:hidden;padding-bottom:30px;}.blog-entry-content .posts-info{background:url(../images/sp-fade.png) no-repeat left bottom;padding-bottom:15px;margin-bottom:15px;}.posts-info span{display:block;float:left;height:20px;padding-left:25px;font-size:10px;margin-right:20px;line-height:20px;text-transform:uppercase;color:#B0B0B0;}.posts-info span,.posts-info span a{color:#B0B0B0;}.posts-info span a:hover{color:#787878;text-decoration:none;}.posts-info span.date{background-position:-980px -249px;}.posts-info span.user{background-position:-980px -279px;}.posts-info span.category{background-position:-980px -309px;}#view-switcher{width:91px;height:32px;background-position:-491px -127px;display:block;position:absolute;top:35px;right:43%;}#view-switcher li{text-transform:uppercase;font-size:10px;margin:1px 0 0 1px;}#view-switcher li a:hover,#view-switcher li.active,#view-switcher li.active a{background-color:#FFF;opacity:1;}#view-switcher li,#view-switcher li a{width:29px;height:28px;display:block;float:left;}#view-switcher li a{text-indent:-9999px;}#view-switcher li a.display-list-alternate{background-position:-493px -169px;}#view-switcher li a.display-list{background-position:-553px -169px;}#view-switcher li a.display-short{background-position:-523px -169px;}ul.display-list li,ul.display-list-alternate li{clear:both;width:100%;display:table;padding:15px 0;}ul.display-list li .img-border,ul.display-list-alternate li .img-border{float:left;margin:0 20px 0 0;}ul.display-list li .img-border img,ul.display-list-alternate li .img-border img{width:190px;}ul.display-list li a.read-more,ul.display-list-alternate li a.read-more{float:right;clear:both;}ul.display-list-alternate li.odd .img-border{float:right;margin:0 0 0 20px;}ul.display-short li{width:300px;float:left;padding:15px 0;}ul.display-short li.odd{padding-left:24px;border-left:1px solid #fafafa;}ul.display-short li.even{padding-right:24px;border-right:1px solid #dfdfdf;}ul.display-short li .img-border{margin-right:15px;float:left;overflow:hidden;}ul.display-short li .img-border img{width:290px;height:150px;}ul.display-short li .blog-entry-content{float:left;width:300px;}ul.display-short li p{height:80px;overflow:hidden;}ul.display-short li .posts-info span.user{display:none;}.post-tags li{display:inline;float:left;line-height:25px;margin-right:5px;}.post-tags li:first-child span{background-position:-413px -127px;width:68px;height:27px;display:block;float:left;line-height:25px;text-indent:30px;}.post-tags li a{display:block;float:left;height:24px;border:1px solid #E5E5E5;border-bottom-width:2px;background:#fafafa;color:#B0B0B0;padding:0 8px;}.post-tags li a:hover{color:#C41D23;text-decoration:none;border-color:#CCC;}.comment-info{padding-bottom:20px;display:table;width:100%;}.comment-info h3{float:left;margin:0;}.comment-info > a{float:right;margin:0;}.comment-content-wrapper > ul{overflow:hidden;border:1px solid #d8d8d8;}.comment-content-wrapper > ul li{background:#fafafa;border-bottom:1px solid #E5E5E5;border-top:1px solid #FFF;padding:20px 20px 10px;}.comment-content-wrapper > ul li .poster{float:right;margin-left:15px;}.comment-content-wrapper > ul li .comment-content .comment-heading a{font-size:18px;font-weight:700;margin-right:15px;}#error-404,#error-404 *{text-align:center;}#error-404 h1{font-size:130px;background:url(../images/404-shadow.png) no-repeat center 110px;}.float-left,.preloading-light img,.preloading-dark img,.img-border img,.entry .block a.read-more,#get-in-touch .via-email button span,.maxx-form textarea,.maxx-form input,.maxx-form button,ul.display-list-alternate li.odd a.read-more,.social-network-like-box > div{float:left;}.float-right,.portfolio-main.filter{float:right;}.overflow-hidden,.services .block .content,.entry-bottom > div{overflow:hidden;}ul.zigzag li strong,ul.display-list li h2,ul.display-list-alternate li h2{margin:0 0 10px;}ul.list.quote li a b,.calendar.white h1,ul.simple-drop-down-menu li.current ul li a,ul.simple-drop-down-menu li ul li:hover a,.blog-entry-content h3,.blog-entry-content h2 a,.blog-entry-content h1 a{color:#787878;}.flick-gallery li.reset-margin-right,.three-column .block.last-child,.three-column .block.last-child-of-line{margin-right:0;}.logo,.social-network,.social-network li a,ul.simple-drop-down-menu li a,#g-search button,#get-in-touch .via-phone-number .icon,.back-to-top,a.read-more,.flick-gallery li a,ul.zigzag li strong,ul.point li a,ul.point li a em,#content{display:block;}#header #banner .social-network li a img,#footer-content .three-column .block .content .latest-news li p,.post-author h3{margin-top:5px;}ul.simple-drop-down-menu li.current a,#footer-content a,#footer-content h3 strong,#footer-extra-wrapper a:hover{color:#FFF;}.three-column .block .content,.comment-content-wrapper > ul li .comment-content .comment-heading{margin-bottom:10px;}.header-text,.video-preview,.image-preview{position:relative;}.post .img-border,.personal-info input{margin-bottom:15px;}
::selection{background: #C80000;/* Safari */color:#FFF;text-shadow:1px 1px 0px rgba(0,0,0,0.3);}::-moz-selection{background: #C80000;/* Mozilla */color:#FFF;text-shadow:1px 1px 0px rgba(0,0,0,0.3);}.maxx-theme .nivo-controlNav a,ul.simple-drop-down-menu li,ul.simple-drop-down-menu li a{/*transition:0.3s linear;-moz-transition:0.3s linear;-webkit-transition:0.3s linear;*/}input[type='text'],input[type='password'],input.input-field, textarea{background:#FFF url(../images/text-field-bg.png) top repeat-x;background: -moz-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);/* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#ffffff));/* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #f1f1f1 0%,#ffffff 100%);/* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #f1f1f1 0%,#ffffff 100%);/* Opera 11.10+ */background: -ms-linear-gradient(top, #f1f1f1 0%,#ffffff 100%);/* IE10+ */background: linear-gradient(top, #f1f1f1 0%,#ffffff 100%);/* W3C */-moz-box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;-webkit-box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;text-shadow:0 1px 0 #FFF;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}button.black{-moz-box-shadow:0 1px 0 #FFF;box-shadow:0 1px 0 #FFF;-webkit-box-shadow:0 1px 0 #FFF;}.border-radius-3px,.portfolio-main.filter li.current a,.page-pagination a,#sidebar .ads a,.btn-style{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}.border-radius-5px{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}.img-border{padding:5px;border:1px solid #e5e5e5;background-color:#FFF;-moz-box-shadow:0 2px 0 rgba(0,0,0,0.05);box-shadow:0 2px 0 rgba(0,0,0,0.05);-webkit-box-shadow:0 2px 0 rgba(0,0,0,0.05);}#navigation-bar{height:40px;background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);/* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));/* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);/* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);/* Opera11.10+ */background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);/* IE10+ */-moz-box-shadow:-1px -1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.1);-webkit-box-shadow:-1px -1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.1);box-shadow:-1px -1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.1);}.border-radius-left-5px{-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}.border-radius-left-3px{-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius:3px;}ul.simple-drop-down-menu ul{box-shadow:5px 5px 0 rgba(0,0,0,0.1);-moz-box-shadow:5px 5px 0 rgba(0,0,0,0.1);-webkit-box-shadow:5px 5px 0 rgba(0,0,0,0.1);}.portfolio-main.filter li.current a{-moz-box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;-webkit-box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;}#sidebar .ads a{border-width:1px;-moz-box-shadow:0 2px 0 rgba(0,0,0,0.05);box-shadow:0 2px 0 rgba(0,0,0,0.05);-webkit-box-shadow:0 2px 0 rgba(0,0,0,0.05);}.page-pagination a{-moz-box-shadow:-1px -1px 0 #FFF inset,1px -1px 0 #FFF inset,0px 1px 3px rgba(0,0,0,0.05);box-shadow:-1px -1px 0px #FFF inset,1px -1px 0 #FFF inset,0px 1px 3px rgba(0,0,0,0.05);-webkit-box-shadow:-1px -1px 0 #FFF inset,1px -1px 0 #FFF inset,0px 1px 3px rgba(0,0,0,0.05);text-shadow:0px 1px 0px #FFF;}.page-pagination a:hover,.page-pagination a.current,a.btn-style:hover,a.btn-style.current,a.btn-style.red,a.btn-style.dark{text-shadow:0px 1px 0px rgba(0,0,0,0.5);-moz-box-shadow:none;box-shadow:none;-webkit-box-shadow:none;}
/* CSS Document */

H1 {
	font-family: Verdana;
	font-style: bold;
	font-weight: normal;
	color: #222222;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 30;
	text-align: left;
	letter-spacing: 0px;
}

P {
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	display: block;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 18px;
	text-align: left;
	letter-spacing: 0.2px;
}

P-ITALIC {
	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
	color: #666666;
	display: block;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 18px;
	text-align: left;
	letter-spacing: 0.5px;
}

A {
	color: #0066CC;
	display: inline;
}

A:HOVER {
	color: #111111;
	display: inline;
}

blockquote{
	padding:10px 10px 10px 20px;
	border-left:5px solid #C41D23;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #FFF;
	border-top:1px solid #FFF;
	font-style:italic;
	background:#fafafa;
	display:block;
	clear:both;
	margin:10px 0;
	overflow:hidden;
	
}
blockquote p{
}
.clear{
	clear:both !important;
}
code{
	display:block;
	font-family:"Courier New", Courier, monospace;
	font-style:normal;
}
div .first{
	margin-left:0px;
	clear:left;
}
.one-half,.one-third,.one-fourth,.one-fifth,.two-third,.two-fourth,.two-fifth,.three-fourth,.three-fifth,.four-fifth{

	float:left;
	margin-left:4%;
	display:block !important;
	position:relative;
	/*overflow:hidden;*/
	/*background:#FFF*/
}
.one-half{
	width: 48%;
}
.one-third{
	width:30.65%;
}
.one-fourth{
	width: 22%;
	*width: 21.8%;
}
.one-fifth{
	width: 16.8%;
	*width: 16.78%;
}
.two-third{
	width:65.35%
}
.two-fourth{
	width:48%
}
.two-fifth{
	width:37.6%
}
.three-fourth{
	width:74%;
}
.three-fifth{
	width:58.4%;
}
.four-fifth{
	width:79.2%
}
.drop-cap{
	width:40px;
	height:40px;
	margin:5px 15px 10px 0;
	float:left;
	background:#454545;
	text-align:center;
	color:#FFF;
	font-size:25px;
	font-weight:bold;
	line-height:40px;
	box-shadow:0px 1px 0px #FFF
}

.drop-cap.circle{	
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.drop-cap.rounded{	
	border-radius:10%;
	-moz-border-radius:10%;
	-webkit-border-radius:10%;
}
span.quote{
	background:url(../images/sprite.png) -917px -97px;
	display:block;
	width:24px;
	height:18px;
	text-indent:-9999px;
	float:left;
	margin:5px 20px 10px 0
}


/*==========================Tabs and Toggles===============================*/


/*Toggle & Accordion*/

.m-simple-accordion dt,.m-simple-toggle dt{
	padding:8px 10px;
	cursor:pointer;
	background:#fafafa;
	border:1px solid #E5E5E5;
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* IE10+ */
	box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
	-moz-box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
	-webkit-box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform:uppercase;
	text-shadow:0 1px 0 #FFF;
	margin-top:3px;
	font-size:10px;
	position:relative;
	text-indent:25px
}
.m-simple-accordion dd,.m-simple-toggle dd{
	padding:10px;
	background:#fafafa;
	border:1px solid #E5E5E5;
	border-top-width:0;
	clear:both;
	box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF,0px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF,0px 1px 0px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF,0px 1px 0px rgba(0,0,0,0.05);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.m-simple-accordion dt.active,.m-simple-toggle dt.active{
	color:#C41D23;
	
}
.m-simple-accordion dt .sign,.m-simple-toggle dt .sign{
	display:block;
	width:20px;
	height:21px;
	float:left;
	margin-right:30px;
	position:absolute;
	top:4px;
	left:5px;
	text-indent:-999px;
	background:url(../images/sprite-shortcode.png) no-repeat 0 -20px; 
}
/*.m-simple-accordion dt .sign:before,.m-simple-toggle dt .sign:before{
	content:"";
	position: absolute;
	width:25px;
	height:21px;
	top:0px;
	left:0px;
	border-right:1px solid #d9d9d9
}*/
.m-simple-accordion dt.active .sign,.m-simple-toggle dt.active .sign{
	background-position:0 0
}
/*Tabs*/

.m-simple-tabs{
	position:relative;
}
.m-simple-tabs dt{
	padding:8px 10px;
	cursor:pointer;
	background:#fafafa;
	border:1px solid #E5E5E5;
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* IE10+ */
	box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
	-moz-box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
	-webkit-box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-transform:uppercase;
	text-shadow:0 1px 0 #FFF;
	font-size:10px;
	float:left;
	display:inline;
	margin-left:5px;
	border-bottom-width:0;
	position:relative;

}
.m-simple-tabs dt:first-child{
	margin-left:0;
}
.m-simple-tabs dd{
	position:absolute;
	left:0;
	padding:10px;
	background:#fafafa;
	border:1px solid #E5E5E5;
	box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF,0px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF,0px 1px 0px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF,0px 1px 0px rgba(0,0,0,0.05);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index:1
}

.m-simple-tabs dt.active{
	color:#C41D23;
	background:#fafafa;
	box-shadow:inset 1px 1px 0 #FFF,inset -1px 0 0 #FFF;
	-moz-box-shadow:inset 1px 1px 0 #FFF,inset -1px 0 0 #FFF;
	-webkit-box-shadow:inset 1px 1px 0 #FFF,inset -1px 0 0 #FFF;
	z-index:2 !important
}


/*Typography*/
ol.ordered-list li a,ul.unordered-list li a{
	color:#787878
}
ol.ordered-list li,ul.unordered-list li{
	padding: 0 0 10px;
}
ul.unordered-list li{
	background:url(../images/bullet_red_alt.png) no-repeat left -2px;
	padding-left:25px
}
ol.ordered-list li{
	list-style: decimal inside;	
}
.align-right{
	float:right;
	margin-left:20px;
}
.align-left{
	float:left;
	margin-right:20px;
}
.align-none,.align-left,.align-right{
	margin-bottom:15px;
}
/*table*/
table.m-table{
	background:#FAFAFA;
	border-radius:5px;
}
table.m-table td, table th{
	padding:15px ;
	text-align:center
}
table.m-table thead tr th.first-child{
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

table.m-table tbody tr th.first-child{
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

table.m-table thead tr th.last-child{
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
table.m-table tbody tr th.last-child{
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}


table.m-table tbody tr td{
	background:#FFF;
	border-bottom:1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	box-shadow:inset 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 0 #FFF;
}
table.m-table tbody tr td.first-child{
	border-left: 1px solid #E5E5E5;
}	
table.m-table{	
	-moz-box-shadow:0 2px 0 rgba(0,0,0,0.05);
    box-shadow:0 2px 0 rgba(0,0,0,0.05);
    -webkit-box-shadow:0 2px 0 rgba(0,0,0,0.05);

}
table.m-table thead th,table.m-table tbody tr th{
	background: #565656; /* Old browsers */
	background: -moz-linear-gradient(top, #565656 0%, #454545 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#454545)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #565656 0%,#454545 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #565656 0%,#454545 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #565656 0%,#454545 100%); /* IE10+ */
	background: linear-gradient(top, #565656 0%,#454545 100%); /* W3C */
	color:#FFF;
	font-weight:bold;
	box-shadow:inset 0 1px 0 #000,inset 0 2px 0 rgba(255,255,255,0.1);
	-webkit-box-shadow:inset 0 1px 0 #000,inset 0 2px 0 rgba(255,255,255,0.1);
	-moz-box-shadow:inset 0 1px 0 #000,inset 0 2px 0 rgba(255,255,255,0.1);
}
table.m-table thead th{
	padding:20px 15px;
}
table.m-table thead th{
	padding:15px;
}
table.m-table tbody tr.alternate > td{
	background:#FAFAFA;
}
/*Nortification*/

.maxx-notification { 
	position:relative !important; 
	border:1px solid; 
	background-position:10px 11px !important; 
	background-repeat:no-repeat !important; 
	font-size:13px;
	margin:0 0 15px; 
	padding:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
}  
	
.maxx-notification.attention { 
	background:#fffbcc url(../images/icons/exclamation.png); 
	border-color:#e6db55; 
}  
.maxx-notification.information { 
	background:#dbe3ff url(../images/icons/information.png); 
	border-color:#a2b4ee; 
}  
.maxx-notification.success { 
	background:#d5ffce url(../images/icons/tick_circle.png); 
	border-color:#9adf8f; 
}  
.maxx-notification.error { 
	background:#ffcece url(../images/icons/cross_circle.png); 
	border-color:#df8f8f; 
}

.maxx-notification.light { 
	background:#fafafa url(../images/icons/cross_circle.png); 
	border-color:#BCBCBC
}  
.maxx-notification div { 
	display:block; 
	font-style:normal; 
	line-height:18px; 
	padding:10px 10px 10px 40px;
}  
.maxx-notification .close { 
	text-indent:-9999px;
	font-size:0; 
	position:absolute; 
	right:5px; 
	top:5px; 
	width:10px;
	height:10px;
	display:block;
	background:url(../images/icons/cross_grey_small.png) no-repeat;
}

/*Button*/
.maxx-button{
	background-image:url(../images/button-light.png);
	background-color: #f2f2f2;
	border-color: #d3d3d3;
	background-repeat: repeat-x;
	background-position: 0 0;
	padding:0 10px;
	font-size: 12px;
	text-decoration: none;
	display:inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	line-height: 28px;	
	text-shadow:0 1px 0 rgba(255,255,255,1);
	position: relative;
	font-weight:bold;
	margin:5px 3px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}
.maxx-button:active{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	background:none;
}
a.maxx-button{
	color:#787878;
}
.maxx-button.light{
}
.grey,.red,.orange,.green,.blue,.purple,.aqua,.teal{
	text-shadow:0 1px 0 rgba(255,255,255,.5);
}
.maxx-button.grey{
	background-color:#b3b3b3;
	border-color:#8f8f8f;
	color:#555555
}
.maxx-button.red{
	background-color:#f56c7e;
	border-color:#d55061;
	color:#903844
}
.maxx-button.orange{
	background-color:#fec151;
	border-color:#d6982f;
	color:#996633
}
.maxx-button.green{
	background-color:#a1f983;
	border-color:#7ce558;
	color:#567d49
}
.maxx-button.blue{
	background-color:#7ad2f4;
	border-color:#63abc7;
	color:#42788e
}
.maxx-button.purple{
	background-color:#d89dd2;
	border-color:#a1799d;
	color:#7b5777
}
.maxx-button.aqua{
	background-color:#9be9ec;
	border-color:#65b6ba;
	color:#437b7d
}
.maxx-button.teal{
	background-color:#92a9ba;
	border-color:#6f818f;
	color:#515f6a
}
.maxx-button.dark{
	background-color:#484848;
	border-color:#1f1f1f;
	color:#FFF;
	text-shadow:0 1px 0 rgba(0,0,0,0.8);
}

.maxx-button:hover{
	text-decoration:none;
}
.maxx-button img.align-left{
	float:left;
	margin:6px 10px 0 0
}
.maxx-button img.align-right{
	float:right;
	margin:6px 0 0 10px
}
.maxx-button.medium{
	padding:5px 15px;
}
.maxx-button.large{
	padding:10px 20px;
	font-size:14px;
}
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;height:28px;width:28px}
div.pp_default .pp_expand:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;height:28px;width:28px}
div.pp_default .pp_contract:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer;height:30px;width:30px}
div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{left:auto;position:static}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;margin:4px 0 0;width:20px}
div.pp_default a.pp_arrow_next{background-position:-82px -3px;left:52px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;position:relative;width:110px}
div.pp_default .pp_nav .currentTextHolder{color:#999;font-family:Georgia;font-size:11px;font-style:italic;left:75px;line-height:25px;margin:0;padding:0 0 0 10px;position:absolute;top:2px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.light_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.dark_rounded .pp_description{color:#fff;margin-right:85px}
div.dark_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{background:url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.light_square .pp_nav .pp_play{background:url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:22px}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;overflow:hidden;width:55px}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;margin:2px 4px;white-space:nowrap}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;margin:0 0 0 5px;padding:0;position:relative;white-space:nowrap}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{display:block;line-height:22px;position:absolute;right:0;text-indent:-10000px;top:0}
.pp_loaderIcon{display:block;height:24px;left:50%;margin:-12px 0 0 -12px;position:absolute;top:50%;width:24px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;margin:0 0 5px 15px;z-index:9999}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}


/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 12px;
	color: #fff;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}
/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	z-index:1
}
.nivoSlider img {
	position:absolute;
	top:0;
	left:0;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:97.6%;
	z-index:8;
	cursor:pointer;
}
.nivo-prevNav {
	left:0;
}
.nivo-nextNav {
	right:0;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}




/*
Custom Nivo Slider Default Theme
Author:Manh
*/

.maxx-theme .nivoSlider {
	position:relative;
	background:#fff url(../images/loading.gif) no-repeat 50% 50%;
	height:370px;
	width:960px;
	margin:11px auto 0;
}
.maxx-theme .nivoSlider img {
	position:absolute;
	top:0;
	left:0;
	display:none;
}
.maxx-theme .nivoSlider a {
	border:0;
	display:block;
}

.maxx-theme .nivo-controlNav,.maxx-theme .nivo-controlNav a,.maxx-theme .nivo-directionNav a{
	background-image:url(../images/sprite.png);
	background-repeat:no-repeat
}
.maxx-theme .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-26px;
	width:126px;
	height:42px;
	background-position:-690px -53px;
    margin-left:-63px; /* Tweak this to center bullets */
	z-index:10
}

.maxx-theme .nivo-controlNav a {
	display:block;
	width:16px;
	height:16px;
	text-indent:-9999px;
	border:0;
	margin:12px 3px 0 3px;
	float:left;
	background-position:-664px -53px;
	
}
.maxx-theme .nivo-controlNav a:first-child{
	margin-left:11px;
}
.maxx-theme .nivo-controlNav a.active {
	background-position:-664px -69px
}

.maxx-theme .nivo-directionNav a {
	display:block;
	width:70px;
	height:30px;
	text-indent:-9999px;
	border:0;
}
.maxx-theme .nivo-directionNav a.nivo-nextNav {
	background-position:-826px -82px;
	right:355px;
}
.maxx-theme .nivo-directionNav a.nivo-prevNav {
	left:355px;
	background-position:-826px -53px;
}

.maxx-theme .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
	width:460px;
	padding:5px 10px 10px;
	right:0;
	top:228px;
	text-align:right;
	min-height:65px;
}
.maxx-theme .nivo-caption h1{
	margin-top:0;
	margin-bottom:10px;
}
.maxx-theme .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.maxx-theme .nivo-caption a:hover {
    color:#fff;
}
#slider-wrapper{
	position:relative
}


#piece-maker-slider{
	width:980px;
	height:370px;
	margin:0px auto
}