p {
  text-align: justify;
}

h1 {
  font-weight: bold
}

#banner .logo img{
  width: 296px;

}

.simple-drop-down-menu {
  a {
    font-size: 15px;
  }
}


ul.simple-drop-down-menu {
  li.home-page a {
    text-align: left;
    width: 100px;
  }

  a{
    width: 157px;
    text-align: center;
  }
}

ul.simple-drop-down-menu li.current {
  background: #008fff
}

.list.cat {
  .title {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #4DA2E4;
    font-size: 15px;
    margin-top: 10px;
  }

  .title:hover {
    color: #2A80B2;
  }

  li.toggable {
    display: none;
  }
}

#home-banner {
  margin-top: -70px;
  margin-bottom: 50px;
  height: 200px;
  width: 100%;
  overflow: hidden;

  li {
    float: left;
  }

}

.span6 {
  width: 45%;
  float: left;
  font-size: 12px;

  &.left{ margin-right: 5% }
  &.right{ margin-left: 5% }

  article {
    margin-bottom: 20px;
    float: left;
    width: 100%;

    img {
      float: left;
      margin: 0 10px 5px 0;
    }

    h2 {
      float: left;
      width: 310px;
      color: black;
      margin: 0;
      font-size: 12px;
      font-family: Tahoma,Verdana,Arial,sans-serif;
      font-weight: bold;
    }

    p {
      text-align: justify;
    }
  }
}

.float-right {
  float: right;
}

.row {
  float:left;
  width: 100%;

}

.home-video {
  float: right;
  * { float:right; }
  p {
    width: 420px;

  }
}

.products article, .services article {
  border-bottom: 1px solid #eee;

  a {
    float: left;
  }

  img { height: 90px; }
}

#get-in-touch {
  margin-top: 10px;
}

#navigation-bar {
  //width: 100%;
  margin-bottom: 0;
}

#g-navigation {
  margin: 0 auto;
  //width: 978px;
}

.breadcrumb {
  float:left;
  width: 100%;
  position: relative;
  margin-bottom: 35px;
  font-size: 14px;
}

#content h1.double-color, #sidebar h1.double-color {
  text-align:left;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

#sidebar {
  margin-top: 32px;
}

strong {
  color:black;
}