<!--Body content-->
        <div class="full-width-wrapper">
            <div class="fixed-width-wrapper" id="body-content">
                <!--Content-->
                <div id="content" class="fixed-width-wrapper">
                    <div class="header-text">
                        <ul id="breadcrumbs">
                            <li>
                                <a href="#" title="">Home
                                </a>
                            </li>
                            <li class="current">
                                <a href="#" title="">Página não encontrada
                                </a>
                            </li>
                        </ul>
                        <h1 class="first-word double-color sp">Página não encontrada
                        </h1>
                    </div>
                    <div id="error-404" class="clear">
                        <h1>404
                        </h1>
                        <h3><%= @not_found_path %>
                        </h3>
                    </div>
                </div>
                <!--/Content-->