<%= render :template => "site/header" %> 
<!--Body content-->
        <div class="full-width-wrapper">
            <div class="fixed-width-wrapper" id="body-content">
                <!--Content-->
                <div id="content" class="fixed-width-wrapper">
                    <div class="header-text">
                        <ul id="breadcrumbs">
                            <li>
                                <a href="#" title="">Home
                                </a>
                            </li>
                            <li class="current">
                                <a href="#" title="">Page not found
                                </a>
                            </li>
                        </ul>
                        <h1 class="first-word double-color sp">Page Not Found !
                        </h1>
                    </div>
                    <div id="error-404" class="clear">
                        <h1>404
                        </h1>
                        <h3><%= @not_found_path %>
                        </h3>
                    </div>
                </div>
                <!--/Content-->
                <!--Get in touch-->
                <div id="get-in-touch" class="fixed-width-wrapper">
                    <div class="via-phone-number float-left">
                        <a class="icon sprite float-left" title="Keep in touch with us">Keep in touch with us
                        </a>
                        <h2>We can Help You. Call Us 
                            <strong>+ 1 800 123 4567
                            </strong>
                        </h2>
                        <span>Keep in touch with our news and receive FREE THEMES
                        </span>
                    </div>
                    <div class="via-email float-right">
                        <form action="" method="post">
                            <div>
                                <input class="input-field border-radius-3px reset-text float-left" value="Enter your E-mail address...">
                            </div>
                            <div>
                                <button type="submit" class="black border-radius-3px float-right">
                                    <em class="sprite">
                                    </em>Subcribe !
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/Get in touch-->
            </div>
        </div>
        <div class="full-width-wrapper" id="footer-wrapper">
            <div class="fixed-width-wrapper" id="footer-content">
                <div class="three-column">
                    <div class="block">
                        <h3 class="first-word">Twitter feed
                        </h3>
                        <div class="content">
                            <ul class="list tweet">
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        <a href="#" title="">http://t.co/E6xdfOBL
                                        </a>
                                    </p>
                                    <em>about 18 hours ago
                                    </em>
                                </li>
                                <li>
                                    <p>Sed tempus bibendum risus, nec dignissim sem vestibulum ut 
                                        <a href="#" title="">http://t.co/E6xdfOBL
                                        </a>
                                    </p>
                                    <em>about 18 hours ago
                                    </em>
                                </li>
                                <li>
                                    <p>Donec ligula mauris, vehicula quis feugiat at Themeforest 
                                        <a href="#" title="">http://t.co/E6xdfOBL
                                        </a>
                                    </p>
                                    <em>about 18 hours ago
                                    </em>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <h3 class="first-word">Flickr Gallery
                        </h3>
                        <div class="content">
                            <ul class="flick-gallery overflow-hidden">
                                <li>
                                    <a href="images/pix/tricircle.jpg" rel="prettyPhoto[flick]" class="preloading-dark" title="">
                                        <img src="/assets/pix/flick-img1.png" alt="Tricircle Logo Template" >
                                    </a>
                                </li>
                                <li>
                                    <a href="images/pix/box.jpg" rel="prettyPhoto[flick]" class="preloading-dark" title="">
                                        <img src="/assets/pix/flick-img2.png" alt="3D Box Mock-up" >
                                    </a>
                                </li>
                                <li>
                                    <a href="images/pix/coffee.jpg" rel="prettyPhoto[flick]" class="preloading-dark" title="">
                                        <img src="/assets/pix/flick-img3.png" alt="Coffee Cream Logo Template" >
                                    </a>
                                </li>
                                <li>
                                    <a href="images/pix/station.jpg" rel="prettyPhoto[flick]" class="preloading-dark" title="">
                                        <img src="/assets/pix/flick-img4.png" alt="Professional 3D Stationery Mock-up" >
                                    </a>
                                </li>
                                <li>
                                    <a href="images/pix/Cocktail.jpg" rel="prettyPhoto[flick]" class="preloading-dark" title="">
                                        <img src="/assets/pix/flick-img5.png" alt="Cocktail Logo Template" >
                                    </a>
                                </li>
                                <li>
                                    <a href="images/pix/trifold.jpg" rel="prettyPhoto[flick]" class="preloading-dark" title="">
                                        <img src="/assets/pix/flick-img6.png" alt="Trifold 3D Mock-up" >
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <h3 class="first-word">Latest News from blog
                        </h3>
                        <div class="content">
                            <ul class="latest-news list">
                                <li>
                                    <div class="calendar black">
                                        <h1>30
                                        </h1>
                                        <span>Mar
                                        </span>
                                    </div>
                                    <a href="#" title="">
                                        <strong>The top 5 best free font Mar 2011
                                        </strong>
                                    </a>
                                    <p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.
                                    </p>
                                </li>
                                <li>
                                    <div class="calendar black">
                                        <h1>30
                                        </h1>
                                        <span>Mar
                                        </span>
                                    </div>
                                    <a href="#" title="">
                                        <strong>The top 5 best free font Mar 2011
                                        </strong>
                                    </a>
                                    <p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.
                                    </p>
                                </li>
                            </ul>
                            <a href="#" class="link view-all" title="">View all news
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Body content-->
        <!--Footer Extra-->
        <div class="full-width-wrapper" id="footer-extra-wrapper">
            <div class="fixed-width-wrapper">
                <div id="copyright">
                    <a href="#" class="logo float-left" title="">
                        <img src="/assets/logo-footer.png" alt="" >
                    </a>
                    <ul>
                        <li>(c) 2011 Allright reservred 
                        </li>
                        <li>
                            <a href="#" title="">Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">Terms and Conditions
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="back-to-top sprite" title="Back to top">Back to top
                    </a>
                </div>
            </div>
        </div>
        <!--/Footer Extra-->