<%
  simple_menu.active = :about
%>

        <!--/Header-->
        <!--Body content-->
        <div class="full-width-wrapper">
            <div class="fixed-width-wrapper" id="body-content">
                
                <!--Content-->
                <div id="content" class="fixed-width-wrapper aboutpage">
                    
                    <div class="header-text">
                        
                    
                        <%= raw breadcrumb.add("Home","/").add("Sobre a Empresa") %>
               
                        
                        <h1 class="first-word double-color sp">Sobre a Empresa</h1>
                    </div>
                    <div class="post entry-content">
                        <img src="/assets/pix/slide1.jpg" alt="RUPPENTHAL & RUPPENTHAL" title="RUPPENTHAL & RUPPENTHAL" />
                        <%= simple_format snippet('sobre-a-empresa.descricao') %>

                        <!--<a href="/assets/pix/slide1.jpg" class="preloading-light img-border clear" rel="prettyPhoto" title="">
                            <img src="/assets/pix/about-1.jpg" alt="Lorem ipsum dolor si amet">
                        </a>-->
                       
                    </div>
                </div>
                <!--/Content-->
                
            </div>
        </div>
        <!--/Body content-->
