<%
  simple_menu.active = :about
  breadcrumb.add('Sobre a Empresa')
%>

        <!--/Header-->
        <!--Body content-->
        <div class="full-width-wrapper">
            <div class="fixed-width-wrapper" id="body-content">
                <!--Content-->
                <div id="content" class="float-left content-left">
                    <div class="header-text">
                        <h1 class="first-word double-color sp">Sobre a Empresa</h1>
                    </div>
                    <div class="post entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh mi, commodo eu, pellentesque ut, blandit rutrum, ligula. Praesent ultricies urna a urna. Quisque massa. Cras ipsum diam, hendrerit id, accumsan sit amet, fermentum vel, dui.
                        </p>
                        <a href="/assets/pix/about-1.jpg" class="preloading-light img-border clear" rel="prettyPhoto" title="">
                            <img src="/assets/pix/about-1.jpg" alt="Lorem ipsum dolor si amet">
                        </a>
                        <p>Nulla sagittis convallis arcu. Sed sed nunc. Curabitur consequat. Quisque metus enim, venenatis fermentum, mollis in, porta et, nibh. 
                            <a href="#" title="">Duis vulputate elit in elit
                            </a>. Mauris dictum libero id justo. 
                            <strong>Fusce in est
                            </strong>. Sed nec diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque semper nibh eget nibh. Sed tempor. 
                            <strong>Fusce erat
                            </strong>. porta et, nibh. Duis vulputate elit in elit. Mauris dictum libero id justo. Fusce in est. Sed nec diam.
                        </p>
                        <p>
                        </p>
                        <div class="img-border preloading-light align-right">
                            <img src="/assets/pix/slide1.jpg" width="300" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh mi, commodo eu, pellentesque ut, blandit rutrum, ligula. Praesent ultricies urna a urna. 
                        </p>
                        <p>Quisque massa. Cras ipsum diam, hendrerit id, accumsan sit amet, fermentum vel, dui.. 
                            <a href="#" title="">Duis vulputate elit in elit
                            </a>. Mauris dictum libero id justo. Fusce in est. 
                            <strong>Sed nec diam.
                            </strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        </p>
                       
                    </div>
                </div>
                <!--/Content-->
                <!--Sidebar-->
                <div id="sidebar" class="float-right">
                    <!--box-->
                    <div class="box">
                        <h1 class="first-word double-color sp">O que dizem sobre nós</h1>
                        <ul class="list quote">
                            <li>
                                <span class="quote">
                                </span>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur, nibh ut feugiat placerat, orci lacus accumsan erat, eget porttitor arcu velit a lacus."
                                </p>
                                <a href="#">
                                    <strong>John Doe
                                    </strong> - 
                                    <b>MaxxD Co.,Ltd
                                    </b>
                                </a>
                            </li>
                            <li>
                                <span class="quote">
                                </span>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur, nibh ut feugiat placerat, orci lacus accumsan erat, eget porttitor arcu velit a lacus."
                                </p>
                                <a href="#">
                                    <strong>John Doe
                                    </strong> - 
                                    <b>MaxxD Co.,Ltd
                                    </b>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/box-->
                    
                </div>
                <!--/Sidebar-->
            </div>
        </div>
        <!--/Body content-->
