<%
  simple_menu.active = :about
%>

        <!--/Header-->
        <!--Body content-->
        <div class="full-width-wrapper">
            <div class="fixed-width-wrapper" id="body-content">
                
                <!--Content-->
                <div id="content" class="fixed-width-wrapper">
                    
                    <div class="header-text">
                        
                    
                        <%= raw breadcrumb.add("Home","/").add("Sobre a Empresa") %>
               
                        
                        <h1 class="first-word double-color sp">Sobre a Empresa</h1>
                    </div>
                    <div class="post entry-content">
                      <p>A RUPPENTHAL & RUPPENTHAL 
                        é uma empresa do ramo metalúrgico
                        que têm suas atividades direcionadas
                        para construção mecânica de máquinas
                        e equipamentos para a indústria. Fundada em 2011 está
                        localizada no importante pólo industrial do Vale do Sinos
                        em Novo Hamburgo/RS.
                      </p>
                 
                      <p>A empresa apresenta soluções em projetos e construção de equipamentos
                      baseado na otimização e na eficiência de funcionamento destes, bem como na
                      automação e racionalização do processo, sempre buscando a racionalização de
                      mão de obra, aumento de produtividade e economia de recursos.</p>
     
                      <p>Para a obtenção destes resultados dispomos de uma equipe de profissionais
                      capacitados e comprometidos com seus objetivos, que além de atender, espera
                      superar as necessidades dos desafios propostos.</p>
                      
                      <p>Contamos com o trabalho sério e inovador de toda a equipe, que crê na
                      união de idéias para a obtenção de resultados excepcionais.</p>
               
                    </div>
                </div>
                <!--/Content-->
                
            </div>
        </div>
        <!--/Body content-->
